{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center shadow sticky-top">
    <div class="container p-3 bg-navy">
        <div class="row">
            <div class="d-md-flex bg-navy align-items-center justify-content-evenly">
                <h1 class="home-text col text-center"><br>Your Books</h1>
            </div>
        </div>
    </div>
</section>
<section class="image-section">
    <div class="image-container">
         <img src="../../static/images/library.jpg" class="img-fluid" alt="library Image">
     </div>
</section>
{% endblock %}